__pycache__/
*.egg-info/
.eggs/
build/
dist/

# env-specific
env/third_party/
env/soundfonts/
env/pig_single_finger/
env/robopianist/soundfonts
env/robopianist/models/hands/third_party/
env/robopianist/music/data/pig_single_finger/
env/PianoFingeringDataset_v1.2/
env/audio/

rl/wandb/
rl/tmp/

ref
tmp/
